# Airflow 
AIRFLOW_UID=[AIRFLOW_UID]
FERNET_KEY=<generate one>
AIRFLOW_PROJ_DIR=./airflow
AIRFLOW_CONN_FS_DEFAULT=file://

# DBT Postgres Data
POSTGRES_USER=[POSTGRES_USER]
POSTGRES_PASSWORD=[POSTGRES_PASSWORD]
POSTGRES_DB=[POSTGRES_DB]
