.env
__pycache__/

es-pipeline/data/archive/*
!es-pipeline/data/archive/.gitkeep

es-pipeline/data/landing/*
!es-pipeline/data/landing/.gitkeep

es-pipeline/data/landing/*
!es-pipeline/data/errors/.gitkeep

es-pipeline/dbt/project/my_project/target/*
!es-pipeline/dbt/project/my_project/target/.gitkeep

es-pipeline/dbt/project/my_project/seeds/*
!es-pipeline/dbt/project/my_project/seeds/.gitkeep

logs/
!logs/.gitkeep

es-pipeline/pipeline.log


.ipynb_checkpoints

.Trash-0

.env

placeholder